@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root{
    --header-background: #00d68f;
    --header-font: 'Montserrat',sans-serif;
    --bar-name-font: 'Montserrat',sans-serif;
    --bar-name-font-size: 1.5em;
    --bar-name-color: #187EA5;
    --button-background: #00B4D8;
    --button-font: 'Montserrat',sans-serif;
    --button-font-size: 1em;
    --black: #21292e;
    --green: #1fd1a8;
    --grey: #626b7d;
    --red: #f65a56;
    --blue: #6f8ff8;
    --sand: #ded4cb;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
* ! Responsive Navigation Bar styles
**/

header {
    background-color:var(--button-background)
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: var(--header-font);
    font-weight: 300;
}

.navbar {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 1.5em;
}

.nav-link {
    transition: 0.7s ease;
    text-align: center;
}

.nav-link:hover {
    color: #0000ff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    /* Stacks bars on top of each other */
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    /* Not sure what this does. No longer suppported? */
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    /* Bars colored white */
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
        /* Diplays hamburger menu at 768px */
    }

    .hamburger.active .bar:nth-child(2) {
        /* Something to do with x and js */
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        /* stacks on top of each other */
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        /* keeps nav menu on screen */
        left: -100%;
        /* hides from view */
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        text-align: center;
        /* links center of screen */
        transition: 0.3s;
        /* menu appears after 0.3s */
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        /* when menu is active brings back into view */
        left: 0;
    }
}

/**
* ? Section - Tagline and Bar List
**/

.tagline-and-list{ /*section wrapper*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.tagline{
    width: 100%;
    height: 5em;
    border: solid 1px #000;
}

.bar-list{
    width: 100%;
    height: 5em;
    border: solid 1px #000;
}

.dropdown-menu-wrapper{
    display: flex;
    justify-content: center;
    padding: 1em;
}

label, select{
    font-family: var(--bar-name-font);
    font-size: 1em;
    color:var(--black);
    margin: 0 0.25em;
}

#sort{
    width: 15em;
}

/**
* ! CSS grid layout and breakpoints for main section
**/

.bar-guide{ /*Parent container of individual bar information containers*/
    display: grid;
}

/*Grid sizes for mobile devices*/

@media (max-width: 600px){
    
    .bar-guide {
        grid-template-columns: repeat(1, 1fr);
    }

    .google-adsense-container-mobile {
        width: 100%;
        height: 5em;/*change later to fit content*/
        border: solid 1px #e9e913;
    }
}

/*Grid sizes for tablets*/

@media (min-width: 601px) and (max-width: 1200px) {
    
    .bar-guide {
        grid-template-columns: repeat(2, 1fr);
    }

    .google-adsense-container-mobile{
        display: none;
    }
}

/*Grid sizes for screens*/

@media (min-width: 1201px) {
    
    .bar-guide {
        grid-template-columns: repeat(3, 1fr)
    }

    .google-adsense-container-mobile {
        display: none;
    }
}

/**
* ! Styles for individual bar information container
**/

.individual-bar-content { /*individual bar information parent container*/
    display: flex;
    flex-direction: column;
    align-items: center; /*centers each child container*/
    height: 800px;
    padding: 1em;
    border: solid 1px #000;
}

.bar-image-container { /*container to hold image of bar*/
    width: 100%;
    height: 10em; /*change later to fit-content*/
    margin: 1em;
    border: solid 1px #ff0000;
}

.bar-name-container { /*container for name of bar*/
    width: 100%;
    height: fit-content;
    text-align: center;
    border: solid 1px #00ff00;
}

.bar-name-heading { /*p element heading that is name of bar*/
    font-family: var(--bar-name-font);
    font-size: var(--bar-name-font-size);
    font-weight: 300;
    color: var(--bar-name-color);
}

.bar-information-wrapper{
    display: flex;
    width: 100%;
    height: 30em;
    margin-bottom: 1em;
}

.bar-description{ /*Article containing description of bar*/
    width: 50%;
    height: 100%; /*change later to fit content?*/
    padding: 1em;
    border: solid 1px #ff00ff
}

.bar-summary{ /*main points summarising bar*/
    width: 50%;
    height: 100%; /*change later to fit content?*/
    /*padding-top: 1em;*/
    border: solid 1px #0000ff;
}

h4 {
    margin-top: 0.5em;
}

.button-bar{ /*nav container parent of link buttons*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1em;
    
}

.button-link{ /*button linking to bar website and review page*/
    width: 8em;
    height: 3em;
    background-color:var(--button-background);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    font-weight: 500;
    color: #fff;
    border: none;
}

h4{
    margin-top: 0.5em;
}

.google-maps{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.find-on-google-p{
    margin-left: 0.5em;
}


