body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bar-guide{ /*Container for individual bar information cards*/
    display: grid;
}

/*Grid sizes for mobile devices*/

@media (max-width: 600px){
    
    .bar-guide {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Grid sizes for tablets*/

@media (min-width: 601px) and (max-width: 1200px) {
    
    .bar-guide {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Grid sizes for screens*/

@media (min-width: 1201px) {
    
    .bar-guide {
        grid-template-columns: repeat(3, 1fr)
    }
}

.individual-bar-content {
    display: flex;
    flex-direction: column;
    height: 500px;
    border: solid 1px #000;
}

