@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root{
    --bar-name-font: 'Montserrat',sans-serif;
    --bar-name-font-size: 1.5em;
    --bar-name-color: #187EA5;
    --button-background: #00B4D8;
    --button-font: 'Montserrat',sans-serif;
    --button-font-size: 1em;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
* ! CSS grid layout and breakpoints for main section
**/

.bar-guide{ /*Parent container of individual bar information containers*/
    display: grid;
}

/*Grid sizes for mobile devices*/

@media (max-width: 600px){
    
    .bar-guide {
        grid-template-columns: repeat(1, 1fr);
    }

    .google-adsense-container-mobile {
        width: 100%;
        height: 5em;/*change later to fit content*/
        border: solid 1px #e9e913;
    }
}

/*Grid sizes for tablets*/

@media (min-width: 601px) and (max-width: 1200px) {
    
    .bar-guide {
        grid-template-columns: repeat(2, 1fr);
    }

    .google-adsense-container-mobile{
        display: none;
    }
}

/*Grid sizes for screens*/

@media (min-width: 1201px) {
    
    .bar-guide {
        grid-template-columns: repeat(3, 1fr)
    }

    .google-adsense-container-mobile {
        display: none;
    }
}

/**
* ! Styles for individual bar information container
**/

.individual-bar-content { /*individual bar information parent container*/
    display: flex;
    flex-direction: column;
    align-items: center; /*centers each child container*/
    height: 520px;
    padding: 1em;
    border: solid 1px #000;
}

.bar-image-container { /*container to hold image of bar*/
    width: 100%;
    height: 10em; /*change later to fit-content*/
    margin: 1em;
    border: solid 1px #ff0000;
}

.bar-name-container { /*container for name of bar*/
    width: 100%;
    height: fit-content;
    text-align: center;
    border: solid 1px #00ff00;
}

.bar-name-heading { /*p element heading that is name of bar*/
    font-family: var(--bar-name-font);
    font-size: var(--bar-name-font-size);
    font-weight: 300;
    color: var(--bar-name-color);
}

.bar-description{ /*Article containing description of bar*/
    width: 100%;
    height: 5em; /*change later to fit content?*/
    margin: 1em;
    border: solid 1px #ff00ff
}

.bar-summary{ /*main points summarising bar*/
    width: 100%;
        height: 5em; /*change later to fit content?*/
        margin: 1em;
        border: solid 1px #0000ff;
}

.button-bar{ /*nav container parent of link buttons*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em;
    
}

.button-link{ /*button linking to bar website and review page*/
    width: 8em;
    height: 3em;
    background-color:var(--button-background);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    font-weight: 500;
    color: #fff;
    border: none;
}


